{% use "bootstrap_4_layout.html.twig" %}

{% block form_row -%}
  {%- if compound is defined and compound -%}
    {%- set element = 'div' -%}
  {%- endif -%}
  {%- set widget_attr = {} -%}
  {%- if help is not empty -%}
    {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
  {%- endif -%}
  <{{ element|default('div') }} class="form-group row">
  {{- form_label(form) -}}
  {{- form_widget(form, widget_attr) -}}
  {{- form_errors(form) -}}
  {# {{- form_help(form) -}} #}
  </{{ element|default('div') }}>
{%- endblock form_row %}

{% block form_label -%}
  {%- if compound is defined and compound -%}
    {%- set element = 'legend' -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' col-form-label')|trim}) -%}
  {%- else -%}
    {%- set label_attr = label_attr|merge({for: id}) -%}
  {%- endif -%}
  {% if required -%}
    {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
  {%- endif -%}
  {% if label is empty -%}
    {%- if label_format is not empty -%}
      {% set label = label_format|replace({
        '%name%': name,
        '%id%': id,
      }) %}
    {%- else -%}
      {% set label = name|humanize %}
    {%- endif -%}
  {%- endif -%}
  {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' col-sm-2 col-form-label')|trim}) %}
  <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>{{ translation_domain is same as(false) ? label : label|trans(label_translation_parameters, translation_domain) }}</{{ element|default('label') }}>
{%- endblock form_label %}

{% block form_widget_simple -%}
  {% if type is not defined or type != 'hidden' %}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) -%}
  {% endif %}
  {%- if type is defined and (type == 'range' or type == 'color') %}
    {# Attribute "required" is not supported #}
    {%- set required = false -%}
  {% endif %}
  <div class="col-sm-10">
    {{- parent() -}}
    {{ form_help(form) }}
  </div>
{%- endblock form_widget_simple %}

{% block choice_widget_collapsed -%}
  {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) -%}
  {# <div class="col-sm-10"> #}
  {{- parent() -}}
  {# </div> #}
{%- endblock choice_widget_collapsed %}

{% block checkbox_widget -%}
  <div class="col-sm-10 offset-sm-2 checkbox-color checkbox-primary">
    {{- parent() -}}
  </div>
{%- endblock checkbox_widget %}

{%- block textarea_widget -%}
  {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) %}
  <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{%- endblock textarea_widget -%}

{% block file_widget -%}
  <div class="col-sm-10">
    {{- parent() -}}
  </div>
{% endblock %}