{% block NutrientType_label %}{% endblock %}

{% block NutrientType_widget %}
    <div class="col-xl-12 nutrient-row">
{#        <div class="input"><input class="form-control m-r-10" type="text" id="{{ form.amount.vars.id }}" name="{{ form.amount.vars.full_name }}"#}
{#                       placeholder="Wartość" value="{{ form.amount.vars.value }}"></div>#}
        <div class="input">{{ form_widget(form.amount) }}</div>
        <div class="input">{{ form_widget(form.type) }}</div>
    </div>
{% endblock %}