{% if form.vars.errors|length > 0 %}
  <span class="invalid-feedback d-block m-b-25">
  {% for error in form.vars.errors %}
    <span class="d-block">
        <span class="form-error-icon badge badge-danger text-uppercase">{{ error.origin.name|trans }}</span> <span class="form-error-message">{{ error.message }}</span>
      </span>
  {% endfor %}
  </span>
{% endif %}