{% block MealProductType_label %}{% endblock %}

{% block MealProductType_widget %}
    <div class="col-xl-12 collection-row">
      <div style="width: 100%">
        {{ form_row(form.gram) }}
        {{ form_row(form.product) }}
      </div>
      <button type="button" class="mealProduct-remove remove-button btn btn-warning">
          <i class="icofont icofont-minus"></i>
      </button>
    </div>
{% endblock %}