{% block StepType_label %}{% endblock %}

{% block StepType_widget %}
{#  {{ dump(form) }}#}
    <div class="col-xl-12 collection-row">
      <div style="width: 100%">
        {{ form_widget(form) }}
      </div>
      <button type="button" class="steps-remove remove-button btn btn-warning">
          <i class="icofont icofont-minus"></i>
      </button>
    </div>
{% endblock %}