{% extends 'admin/base.html.twig' %}

{% block body %}
  <div class="row">
    <div class="col-sm-12">
      {% form_theme form with [
        'form/layout.html.twig',
        'form/jquery.collection.html.twig',
        'admin/meals/component/_meal_product_type.html.twig',
        'admin/meals/component/_step_type.html.twig',
      ] %}
      {{ form_start(form) }}
      <div class="card">
        <div class="card-header">
          <div class="d-flex flex-row">
            <h4>{{ 'meals.header'|trans }}</h4>
            <div class="ml-auto">
              <a href="{{ path('admin_meals_index') }}" class="ml-auto btn btn-warning big-button btn">{{ 'cancel'|trans }}</a>
              <button type="submit" class="btn btn-info big-button btn">{{ 'save'|trans }}</button>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-12">
              {% include 'admin/meals/component/_form_errors.html.twig' %}
            </div>

            <div class="col-sm-12">
              {{ form_row(form.name) }}
              {{ form_row(form.prepTime) }}
              <div class="form-group row">
                {{ form_label(form.fitForDiets) }}
                <div class="col-sm-10">
                  {{ form_widget(form.fitForDiets, {'attr': {'class': 'chosen'}}) }}
                </div>

              </div>

            </div>
            <div class="offset-sm-1 col-sm-11 m-t-25">
              <h4 class="m-b-25">{{ 'meals.meal_products'|trans }}:</h4>
              {{ form_widget(form.mealProducts) }}
            </div>
            <div class="offset-sm-1 col-sm-11 m-t-25">
              <h4 class="m-b-25">{{ 'meals.steps'|trans }}:</h4>
              {{ form_widget(form.steps) }}
            </div>
            <div class="col-sm-12 m-t-25">
              {{ form_row(form.image) }}

              {% if form.vars.value.imagePath is not null %}
                <div class="image-thumb-box offset-sm-2 col-sm-10">
                  <img class="img-fluid" src="{{ '/' ~ form.vars.value.imagePath }}" alt="Meal image">
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ form_end(form) }}
  </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('jquery_collection') }}
  {{ encore_entry_script_tags('admin_meal_save') }}
{% endblock %}