{% extends 'admin/base.html.twig' %}

{% block body %}
  <div class="card">
      <div class="card-header">
          <div class="d-flex flex-row">
              <h4>{{ 'diets.nav_name'|trans }}</h4>
              <a href="{{ path('admin_diets_create') }}" class="ml-auto btn btn-success big-button">{{ 'create'|trans }}</a>
          </div>
      </div>
      <hr>
      <div class="card-block">
          <div class="dt-responsive table-responsive">
              <table id="table" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                  <thead>
                      <tr>
                          <th>ID</th>
                          <th>{{ 'diets.name'|trans }}</th>
                      </tr>
                  </thead>
                  <tbody>

                  </tbody>
                  <tfoot>
                      <tr>
                          <th>ID</th>
                          <th>{{ 'diets.name'|trans }}</th>
                      </tr>
                  </tfoot>
              </table>
          </div>
      </div>
  </div>

  <div id="data-info"
       data-source-url="{{ path('admin_diets_data_table_source') }}"
       data-edit-url="{{ path('admin_diets_edit', {'dietId': '_ID_'}) }}"
  ></div>
{% endblock %}

{% block stylesheet %}
  {{ encore_entry_link_tags('admin_diet_index') }}
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('admin_diet_index') }}
{% endblock %}