{% extends 'admin/base.html.twig' %}

{% block body %}
  <div class="row">
    <div class="col-sm-12">
      {{ form_start(form) }}
      <div class="card">
        <div class="card-header">
          <div class="d-flex flex-row">
            <h4>{{ 'diets.header'|trans }}</h4>
            <div class="ml-auto">
              <a href="{{ path('admin_diets_index') }}"
                 class="ml-auto btn btn-warning big-button btn">{{ 'cancel'|trans }}</a>
              <button type="submit" class="btn btn-info big-button btn">{{ 'save'|trans }}</button>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="offset-xl-3 col-xl-6 offset-md-2 col-md-8">
              {{ form_row(form.name) }}
            </div>
          </div>
        </div>
      </div>
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}