{% set route = app.request.get('_route') %}

<nav class="pcoded-navbar">
    <div class="pcoded-inner-navbar main-menu">
        <div class="pcoded-navigatio-lavel">Nawigacja</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="{{ route == 'admin_dashboard' ? 'active' }}">
                <a href="{{ path('admin_dashboard') }}">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">{{ 'dashboard'|trans }}</span>
                </a>
            </li>
            <li class="{{ route starts with 'admin_products' ? 'active' }}">
                <a href="{{ path('admin_products_index') }}">
                    <span class="pcoded-micon"><i class="feather icon-sun"></i></span>
                    <span class="pcoded-mtext">{{ 'product.nav_name'|trans }}</span>
                </a>
            </li>
            <li class="{{ route starts with 'admin_meals' ? 'active' }}">
                <a href="{{ path('admin_meals_index') }}">
                    <span class="pcoded-micon"><i class="feather icon-airplay"></i></span>
                    <span class="pcoded-mtext">{{ 'meals.nav_name'|trans }}</span>
                </a>
            </li>
            <li class="{{ route starts with 'admin_diets' ? 'active' }}">
                <a href="{{ path('admin_diets_index') }}">
                    <span class="pcoded-micon"><i class="feather icon-activity"></i></span>
                    <span class="pcoded-mtext">{{ 'diets.nav_name'|trans }}</span>
                </a>
            </li>
        </ul>
    </div>
</nav>