@import '~bootstrap/dist/css/bootstrap.min.css';
@import './style.css';
@import './feather.css';
@import './icofont.css';
@import './jquery.mCustomScrollbar.css';
@import '~chart.js/dist/Chart.min.css';
@import "~font-awesome/css/font-awesome.min.css";
@import '~chosen-js/chosen.min.css';

#product_nutrients {
    width: 100%;
}

@media (min-width: 1200px) {
    .big-button {
        min-width: 140px;
    }
}

.image-thumb-box {
    max-width: 250px;
}

.collection-row {
    display: flex;
    align-items: center;
}

.remove-button {
    margin: 0 15px;
    width: 55px;
    height: 55px;
}